<div id='allbg'>
  <% @players.each do |p| %>
  <div class='player-each' style='background:url(<%= p.bggif %>'>
    <%= link_to "#{p.name}", player_path(p.id), :class => 'linktext' %>
  </div>
  <% end %>
</div>