#allbg {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;

}
.player-each {
  width:100%;
  
  height: 70px;
  border: 1px white solid;
  border-left: none;
  border-right: none;
  text-align: center;
  font-family: 'Graduate', cursive;
  text-decoration: none;
  background: linear-gradient(to left, black 50%, lightgrey 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    margin-left:10px;
    transition:all 2s ease;
}
.player-each:hover {
    background-position:left bottom;
}
.linktext {
  margin-top: 10px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
  width: 100%;
}
.all-head {
  height: 100px;
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  font-family: 'Graduate', cursive;
  h1 {
    color: black;
    font-size: 70px;
    text-decoration: none;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .go-home {
    text-decoration: none;
    color: white;
    background-color: #FF0000;
    padding: 10px 20px;
  }
}
.playscore {
  position: relative;
  top: -55px;
  color: white
}