body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#sidebar {
  background-color: black;
  height: 800px;
}
.button_to {
  margin-top:  20px;
  text-align: center
}
.button {
background-color: #FF0000;
box-shadow: -4px 5px 0px 0px rgba(255,0,0,0.50);
width: 100px;
margin: 0 auto;
border-radius: 2px;
border-style: none;
height: 30px;
font-family: 'Graduate', cursive;
color: white;

}
ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
  color: white;
  font-size: 20px;
    li{
      letter-spacing: 1px;
      font-family: 'Graduate', cursive;
      color: white;
       margin-top: 30px;
       font-size: 25px;
        text-shadow: -1px 1px grey;
    }
    .score{
      font-size: 11px;
      margin: 2px 0;
      text-shadow: none;
    }
}

h1 {
  margin-top: 10px;
  letter-spacing: 1px;
  font-family: 'Graduate', cursive;
  text-align: center;
  color: white;
  text-decoration: underline;
  margin-bottom: 0;
}

h2 {
  letter-spacing: 1px;
  font-family: 'Graduate', cursive;
  text-align:  center;
  color: white
}
.form {
  text-align: center
}
.inputbox {
  height: 50px;
  width: 70%;
  border-radius: 5px;
  font-family: 'Graduate', cursive;
}
/*main div*/
#newart{
        background-color: #A3ACAC;
        height: 400px;
        width: 1200px;
      }
#newart1{
        background-color: #A3ACAC;
        height: 400px;
        width: 1200px;
      }
#charthead {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  /* MOST POPULAR: */
  font-family: 'Graduate', cursive;
  color: #FFFFFF;
  line-height: 58px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  text-decoration: none;
}
#chart {
  width: 100%;
}
// styling for the ul
#leaders {
  padding-left: 0;
}
// css for the leaderboard links
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: rgba(255,255,255, 0.6);
}