body {
  margin-left: auto;
  margin-right: auto;
}
#sidebar {
  background-color: black;
  height: 800px;
}
.button_to {
  margin-top:  20px;
  text-align: center
}
.button {
background-color: #FF0000;
box-shadow: -4px 5px 0px 0px rgba(255,0,0,0.50);
width: 100px;
margin: 10px auto 0 auto;
border-radius: 2px;
border-style: none;
height: 30px;
font-family: 'Graduate', cursive;
color: white;

}
ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
  color: white;
  font-size: 20px;
    li{
      letter-spacing: 1px;
      font-family: 'Graduate', cursive;
      color: white;
       margin-top: 20px;
       font-size: 25px;
        text-shadow: -1px 1px grey;
    }
    .score{
      font-size: 11px;
      margin: 2px 0;
      text-shadow: none;
    }
}

h1 {
  margin-top: 10px;
  letter-spacing: 1px;
  font-family: 'Graduate', cursive;
  text-align: center;
  color: white;
  text-decoration: underline;
  margin-bottom: 0;
}

h2 {
  letter-spacing: 1px;
  font-family: 'Graduate', cursive;
  text-align:  center;
  color: white
}
.form {
  text-align: center
}
.inputbox {
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  font-family: 'Graduate', cursive;
}

.tt-hint {
  color: #C1C1C1;
}

.tt-dropdown-menu {
  font-family: 'Graduate', cursive;
  background-color: white;
  margin-top: 10px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid grey;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.50);
  line-height: 1em;
}

.tt-suggestion {
  padding: .2px;
  margin: 3px;
}

.tt-suggestion:hover {
  color: white;
  background-color: #28679E;
}

/*main div*/
#newart{
        background-color: #A3ACAC;
        height: 400px;
        width: 100%;
      }
#newart1{
        background-color: #A3ACAC;
        height: 400px;
        width: 100%;
      }
#charthead {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  /* MOST POPULAR: */
  font-family: 'Graduate', cursive;
  color: #FFFFFF;
  line-height: 58px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  text-decoration: none;
}
#chart {
  width: 100%;
}
// styling for the ul
#leaders {
  padding-left: 0;
}
// css for the leaderboard links
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: rgba(255,255,255, 0.6);
}
// css for the chart divs
.charts {
  margin-right: 15%;
  margin-left: 15%;
  height: 300px;
  background-color: rgba(0,0,0,0.86);
  box-shadow: -10px 15px 1px 0px rgba(0,0,0,0.50);
  width: 70%;
}
// for the all players button
#all-button {
  padding: 5px 15px;
  background-color: white;
  margin: 0 auto;
  text-decoration: none;
  color: black;
  font-family: 'Graduate', cursive;
  font-size: 14px
}
#top-marg {
  margin-top: 32px;
  text-align: center;
}
.inputbox {
  width: 90%;
}
.twitter-typeahead {
  text-align: center;
  margin-bottom: 10px;
}
.tt-input {
  margin-right: 7px;
}